.txt-heading {
    color: #211a1a;
    border-bottom: 1px solid #E0E0E0;
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

body {
    font-family: Arial;
    color: #211a1a;
    font-size: 0.9em;
    height: 100%;
}

#shopping-cart {
    margin: 40px;
}

#product-grid {
    margin: 40px;
}

#category-grid {
    margin: 20px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#shopping-cart table {
    width: 100%;
    background-color: #F0F0F0;
}

#shopping-cart table td {
    background-color: #FFFFFF;
}

#btnEmpty {
    border: #d00000 1px solid;
    padding: 5px 10px;
    color: #d00000;
    float: right;
    text-decoration: none;
    border-radius: 3px;
    margin: 10px 0px;
    background-color: #ffffff;
}

.btnPlaceOrder {
    background-color: #ffffff;
    border: green 1px solid;
    padding: 5px 10px;
    color: green;
    float: right;
    text-decoration: none;
    border-radius: 3px;
    margin: 10px 0px;
}

.btnAddAction {
    padding: 5px 10px;
    margin-left: 5px;
    background-color: #efefef;
    border: #E0E0E0 1px solid;
    color: #211a1a;
    float: right;
    text-decoration: none;
    border-radius: 3px;
    cursor: pointer;
}

#product-grid .txt-heading {
    margin-bottom: 18px;
}

.product-item {
    float: left;
    background: #ffffff;
    margin: 30px 30px 0px 0px;
    border: #E0E0E0 1px solid;
}

.product-image {
    height: 155px;
    width: 250px;
    background-color: #FFF;
}

.clear-float {
    clear: both;
}

.demo-input-box {
    border-radius: 2px;
    border: #CCC 1px solid;
    padding: 2px 1px;
}

.tbl-cart {
    font-size: 0.9em;
}

.tbl-cart th {
    font-weight: normal;
}

.product-title {
    margin-bottom: 20px;
}

.product-price {
    float: left;
}

.cart-action {
    float: right;
}

.product-quantity {
    padding: 5px 10px;
    border-radius: 3px;
    border: #E0E0E0 1px solid;
}

.product-tile-footer {
    padding: 15px 15px 0px 15px;
    overflow: auto;
}

.cart-item-image {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: #E0E0E0 1px solid;
    padding: 5px;
    vertical-align: middle;
    margin-right: 15px;
}

.no-records {
    text-align: center;
    clear: both;
    margin: 38px 0px;
}

.category {
    display: flex;
    flex-direction: row;
}

.content-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

nav {
    width: 24vw;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

a {
    text-align: center;
    display: block;
}

header nav a {
    display: block;
    padding: 8px 25px;
    color: black;
    text-decoration: none;
    background: #f2f2f2;
}

#cart-icon {
    background: none;
}

header nav a:hover {
    color: #fff;
    background: #939393;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

ul {
    padding: 0;
    list-style: none;
    background: #f2f2f2;
}

ul li {
    display: inline-block;
    position: relative;
    line-height: 21px;
    text-align: right;
}

ul li a {
    display: block;
    padding: 8px 25px;
    color: #333;
    text-decoration: none;
}

ul li a:hover {
    color: #fff;
    background: #939393;
}

ul li ul.dropdown {
    min-width: 125px;
    /* Set width of the dropdown */
    background: #f2f2f2;
    display: none;
    position: absolute;
    z-index: 999;
    left: 0;
}

ul li:hover ul.dropdown {
    display: block;
    /* Display the dropdown */
}

ul li ul.dropdown li {
    display: block;
}

.success {
    width: 92%;
    margin: 0px auto;
    padding: 10px;
    border: 1px solid #a94442;
    color: #3c763d;
    background: #dff0d8;
    border: 1px solid #3c763d;
    margin-bottom: 20px;
}

.single-product-item {
    padding: 20px 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.single-product-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

#all-categories {
    display: flex;
    height: 100vh;
    flex-direction: column;
    justify-content: space-between;
}

h4 {
    font-family: sans-serif;
    font-size: x-large;
}

.single-product-title-footer {
    display: flex;
    flex-direction: column;
}

.single-product-title {
    font-size: x-large;
    font-weight: 100;
}

.single-product-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

h4 {
    font-family: sans-serif;
    font-size: x-large;
}

.single-product-title-footer {
    display: flex;
    flex-direction: column;
}

.single-product-title {
    font-size: x-large;
    font-weight: 100;
}

.single-product-title-footer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.new-product-button,
.update-product,
.delete-product,
.mark-delivered,
.cancel-order {
    color: #211a1a;
    text-decoration: none;
    padding: 5px 25px;
    background-color: #f2f2f2;
}

.single-product-details {
    width: 600px;
    align-self: center;
    margin-left: 350px;
}